<h1>Listing reg_questions</h1>

<table>
  <tr>
    <th>Body</th>
    <th>Answer</th>
    <th>Kind</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reg_questions.each do |reg_question| %>
  <tr>
    <td><%= reg_question.body %></td>
    <td><%= reg_question.answer %></td>
    <td><%= reg_question.kind %></td>
    <td><%= link_to 'Show', reg_question %></td>
    <td><%= link_to 'Edit', edit_reg_question_path(reg_question) %></td>
    <td><%= link_to 'Destroy', reg_question, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reg question', new_reg_question_path %>
