.container-fluid
  .row-fluid
    .span3
      = render :partial => "shared/category_list"
    .span9
      %p#notice= notice
      .hero-unit
        %p
          %h3= @post.title
        %p
          = raw markdown @post.body
        = link_to 'Edit', edit_post_path(@post), :class => "btn"
        |
        = link_to 'Back', posts_path
